/* Colors from light to dark  #00e500  #00b200  #009900  #007f00  #006600  #003300 */

/* Titres et polices */
h1, h2, h3, h4, h5, h6 {
    text-align:center
}

h1 {
    color: #006600;
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    color:#007f00;
}

h3 {
    color: #009900;
    font-size: 1.5rem;
}

h4 {
    color: #00b200;
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}


/* */
ul {
    text-align: left;
}

body {
    text-align:center;
}

header {
    height: 10vh;
}

header img {
    margin-top:1vh;
}

.disable{
    pointer-events: none;
    opacity: 0.35;
}

.logbook h4 {
    font-style: oblique;
}

.divider {
    color: #006600;
    border-color: #006600;
    background-color: #006600;
}

img {
    height: 48px;
    width: 48px;
}

/* Empty blocs to help layout */

.bl_sp_xs {
    height: 2.5vh;

}

.bl_sp_sm {
    height: 5vh;

}

.bl_sp_md {
    height: 7.5vh;

}

.bl_sp_lg {
    height: 10vh;

}

#logbook_articles {
    text-align: justify;
}

#logbook_obj {
}

#navbar {
    box-shadow: 2px 2px 2px 0 #009900;
    height: auto;
}

.home_bloc_btn {
}

.home_bloc_tile {
    height: 25vh;
    margin-top: 7.5vh;
 /**   border-bottom: 1px solid #006600;
    border-left: 1px solid #006600;
    box-shadow: 2px 2px 0 0 #009900; **/
    width: 300px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 20px 75px -20px #5CE522;
}

.home_bloc_tile p {
}

.hoverable img {
    margin-top: -2.5vh;
}

#socialnet_tile img {
    height: 32px;
    width: 32px;
    margin:0 8px 0 8px;
}

.construction {
    height: 32px;
    width: 32px;
}

#logdate {
    margin-top: -5.25vh;
}


#maillink {
    cursor:pointer;
    color: #039be5;
}
#mailelem {
    display:none;
}

#mailelem img {
    height: 20px;
    width: 20px;
}