/* Colors from light to dark

#00e500
#00b200
#009900
#007f00
#006600
#003300
*/


h1 {
    color: #006600;
}

h3 {
    color: #009900;
}

h4 {
    color: #00b200;
}

h1, h2, h3, h4, h5, h6 {
    text-align:center
}

ul {
    text-align: left;
}

body {
    text-align:center;
}

header {
    height: 10vh;
}

#logbook_articles {
}

header img {
    margin-top:1vh;
}

.disable{
    pointer-events: none;
    opacity: 0.35;
}

.logbook h4 {
    font-style: oblique;
}

hr {
    width: 75%;
    color: #006600;
    border-color: #006600;
    background-color: #006600;
}

img {
    height: 48px;
    width: 48px;
}

/* Empty blocs to help layout */

.bl_sp_xs {
    height: 2.5vh;

}

.bl_sp_sm {
    height: 5vh;

}

.bl_sp_md {
    height: 7.5vh;

}

.bl_sp_lg {
    height: 10vh;

}

#logbook_articles {
    text-align:center;
}

#navbar {
    border-bottom: 2px solid #009900;
    box-shadow: 2px 2px 2px 0px #009900;
    height: auto;
    margin-top: 5px;
}

.home_bloc_btn {
}