{% extends "base.html.twig" %}

{% block title %}BlogBundle:Main:index{% endblock %}

{% block body %}
<h1>Welcome to the Main:index pagesdved</h1>

    <a href="{{ path('logbook') }}">Ici le logbook</a>
{% endblock %}
