{% extends "base.html.twig" %}

{% block title %}Welcome - Bienvenue | {{ site_name }} {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
    {% endblock %}

{% block menu %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col offset-s1 s10 offset-m2 m8 offset-l3 l6 valign">
                <a href="{{ path('resume') }}"><img src="{{ asset('/img/logo_perso-white.png') }}" class="circle z-depth-2" alt="logo"></a>
                <h1>Bienvenue</h1>
            </div>
        </div>
    </div>
    {% endblock %}


{% block footer %}{% endblock %}